/* FONTS */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.content {
  width: 960px;
  margin: 0 auto;
}

/* NAV */
.logo {
  padding-top: 10px;
  margin-top: 0;
  z-index: 10;
  position: relative;
  float: left;
  width: 100px;
}

nav {
    height: 65px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #eaeaea;
}
 
nav ul {
    text-align: right;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    padding-right: 5%;
    padding-top: 20px;
}
 
nav li { 
    display: inline;
    padding-left: 40px;
    padding-top: 20px;
}
 
nav a {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #f0532d;
    display: inline-block;
    text-align: left;
    text-decoration: none;
}
 
nav li a {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
 
nav a:hover, nav a:active {
    border-bottom: 2px solid #f0532d;
}
 
nav a#pull {
    display: none;
}

/* SECTIONS */

.section-1-home {
  background-color: #eaeaea;
  height: 50%;
  padding-top: 20px;
}

.buffer {
  padding: 20px;
}
