/* FONTS */
body {
  font-family: 'Open Sans', sans-serif;
}

p {
  line-height: 36px;
  font-size: 18px;
  color: #625c5a;
}

h1 {
  color: #f0532d;
  font-weight: 700;
  font-family: 'Karla', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #625c5a;
  line-height: 40px;
}

h4 {
  font-family: 'Karla', sans-serif;
  color: #f49921;
}

h6 {
  font-family: 'Karla', sans-serif;
  color: #5ba7dc;
}

.content {
  width: 960px;
  margin: 0 auto;
}

/* NAV */
.logo {
  padding-top: 10px;
  margin-top: 0;
  z-index: 10;
  position: relative;
  float: left;
  width: 110px;
}

.header {
  width: 100%;
  z-index: 0;
  position: absolute;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  padding-bottom: 10px;
  width: 100%;
  position: relative;
  background: #f9f8f7;
}
 
nav ul {
  text-align: right;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 40px;
  padding-right: 3%;
  padding-top: 20px;
}
 
nav li { 
  display: inline;
  padding-left: 40px;
  padding-top: 20px;
}
 
nav a, nav a:focus {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #625c5a;
  display: inline-block;
  text-align: left;
  text-decoration: none;
}
 
nav li a {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

 

nav li:last-child a {
	border-right: 0;
}

nav a:hover, nav a:active {
  color: #625c5a;
  border-bottom: 2px solid #f0532d;
}
 
nav a#pull {
  display: none;
}

.menu-icon {
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    width: 20px;
    text-indent: -999px;
}
 
.border-icon {
    height: 17px;
    border-top: 3px solid #666;
    border-bottom: 3px solid #666;
}

.border-icon:before {
    content: "";
    position: absolute; 
    top: 4px;
    left: 0;
    width: 100%;
    border-top: 3px solid #666;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}


/* SECTIONS */

.section-1-home {
  background-color: #f9684b;
  padding: 150px 0px 75px 0px;
}

.section-2-about {
  background-color: #f9f8f7;
  padding: 100px 0px;
}

.section-3-how {
  background-color: #5ba7dc;
  padding: 50px 0px;
}

.section-3-text {
  font-size: 16px;
}

.section-4-instructions {
  background-color: #efeded;
  padding: 50px 0px;
}

.section-5-send {
  background-color: #f9f8f7;
  padding: 50px 0px;
}

.footer {
  font-family: 'Karla', sans-serif;
  color: #fff;
  background-color: #f0532d;
  padding: 20px 0px;
}

.footer a {
  color: #fff;
}

.footer ul {
  margin: 0;
}

.footer ul li {
  list-style: none;
}

.footer-logo {
  width: 100px;
}

.buffer {
  padding: 20px;
}

.buffer-sm {
  padding: 5px;
}

.no-pad-right {
  padding-right: 0;
}
.no-pad-left{
  padding-left: 0;
}

/* BUTTONS */

input[type="submit"] {
  border-radius: 3px;
}

.button {
  background-color: #f0532d;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
  padding: 15px 20px;
  font-family: 'Open Sans', sans-serif;
}

.button:hover {
  background-color: #cc2402;
}

.button:focus {
  background-color: #cc2402;
}

/* oops ouch */

.form-btn {
  background-color: #ccc;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 15px 20px;
  color: #666;
  border: 0;
  font-weight: 600;
  margin-right: 5px;
}

.form-btn:hover {
  background-color: #5ba7dc;
  color: #fff;
}

.form-btn:focus {
  background-color: #5ba7dc;
  color: #fff;
}

.fff {
  color: #fff;
}

.yellow {
  color: #fce6c8;
}

.gray {
  background-color: #f9f8f7;
  border-bottom: 1px solid #eaeaea;
}

.howitworks-icon0 {
  width: 65px;
}

.howitworks-icon1 {
  width: 125px;
}

.howitworks-icon2 {
  width: 75px;
}

.howitworks-icon3 {
  width: 125px;
}

@media screen and (max-width: 935px) {
  nav {
        border-bottom: 0;
        padding-bottom: 0;
    }
    nav ul {
        display: none;
        height: auto;
        padding: 0;
    }
    nav a#pull {
        display: block;
        background-color: #283744;
        width: 100%;
        position: relative;
    }
    nav a#pull:after {
        content:"";
        background: url('nav-icon.png') no-repeat;
        width: 300px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }
  
    nav li {
        display: block;
        float: none;
        width: 100%;
        padding: 0;
    }
    nav li a {
        width: 100%;
        padding: 15px 0px;
        background: #efeded;
    }
  
    nav a, nav a:focus {
    text-align: center;
    }
  
    .content {
      width: 100%;
    }
    .logo {
    margin-left: 10px;
    width: 75px;
    }
  
    nav a:hover, nav a:active {
      background-color: #eaeaea;
      border-bottom: 0;
    }
  
    .logo {
      padding-bottom: 10px;
    }
}

.tabs .tab-title > a {
  font-family: 'Open Sans', sans-serif;
  margin-right:5px;
  color: #f0532d;
  background: transparent;
}

.tabs .tab-title.active a{
  color: #f0532d;
  font-weight: 600;
  border-bottom: 3px solid #fdb73f;
  background: transparent;
}

h5 {
  font-family: 'Open Sans', sans-serif;
}

.alert-box.success {
  background-color: #3eb871;
  border-color: transparent;
  color: #FFFFFF;
}

.alert-box-padding {
  padding-bottom: 15px;
}