<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Think Twice for Change</title>
    <link rel="stylesheet" href="../static/css/foundation.css" />
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
  </head>
  <body>
    <div class="fixed white">
      <div class="content">
        <a href="#">
            <img class="logo" src="../static/img/logo-1.svg">
        </a> 
        
        <nav class="clearfix">
              <ul class="clearfix content">
                  <li><a href="#">About</a></li> 
                  <li><a href="#">How It Works</a></li>
                  <li><a href="#">Instructions</a></li>
                  <li><a href="#">Send a (WORD)</a></li>
              </ul>
              <a href="#" id="pull">
                  <div class="right menu-icon border-icon"></div> 
              </a>   
          </nav>
        </div>
      </div>
    <h1>ALOHA THERE!!!</h1>
    <div id="contact-form">
      <fieldset>
        <label for="email">Use Email: </label>
        <input type="text" id="email-field" name="email" placeholder="Put the offender's email here" size="80">
        <input type="submit" name="submit" class="button" id="email-submit-btn" value="Submit">
        <label for="email">Use Text: </label>
        <input type="text" id="sms-field-1" name="sms" maxlength="3">
        <input type="text" id="sms-field-2" name="sms" maxlength="3">
        <input type="text" id="sms-field-3" name="sms" maxlength="4">
        <input type="submit" name="submit" class="button" id="sms-submit-btn" value="Submit">
      </fieldset>
      <div class="section-1-home">
        <div class="row">
          <div class="large-12 columns">
            <div class="large-3 columns">
              <img src="../static/img/cloud-1.svg">
            </div>
            <div class="large-9 columns">
            <h1>Croissant lemon drops gingerbread.</h1> 
              <h3>Biscuit gummies chocolate brownie topping jelly pudding chupa chups lemon drops. Ice cream jelly beans candy jelly beans. </h3>
            </div>
          </div>
        </div>
        <div class="buffer"></div>
      </div>

      <div class="section-2-about">
        <div class="row">
          <div class="large-12 columns">
          <h1>About</h1>
          <p>Croissant lemon drops gingerbread. Biscuit gummies chocolate brownie topping jelly pudding chupa chups lemon drops. Ice cream jelly beans candy jelly beans. Macaroon apple pie gingerbread pudding wafer. Powder marzipan apple pie sesame snaps. Candy macaroon cake jujubes. Sweet chocolate marzipan fruitcake caramels. Cookie chocolate bar candy canes. Lemon drops soufflé toffee muffin cheesecake biscuit gingerbread jujubes macaroon. Marshmallow tiramisu tootsie roll pastry. Jujubes tiramisu cotton candy cake macaroon liquorice. Carrot cake tootsie roll pastry chocolate bar. Brownie cotton candy lollipop bonbon donut icing donut.</p>
          </div>
        </div>
        <div class="buffer"></div>
      </div>

      <div class="section-3-how">
        <div class="row">
          <div class="large-12 columns">
          <h1>How It Works</h1>
            <div class="buffer"></div>
            <div class="large-4 columns no-pad-left">
              <img src="../static/img/howitworks-1.svg" class="howitworks-icon">
              <div class="buffer"></div>
              <p>1. Croissant lemon drops gingerbread. Biscuit gummies chocolate brownie topping jelly pudding chupa chups lemon drops. Ice cream jelly beans candy jelly beans. </p>
            </div>
            
            <div class="large-4 columns no-pad-left">
              <img src="http://placehold.it/300x200">
              <div class="buffer"></div>
              <p>2. Croissant lemon drops gingerbread. Biscuit gummies chocolate brownie topping jelly pudding chupa chups lemon drops. Ice cream jelly beans candy jelly beans. </p>
            </div>
            
            <div class="large-4 columns no-pad-left">
              <img src="http://placehold.it/300x200">
              <div class="buffer"></div>
              <p>3. Croissant lemon drops gingerbread. Biscuit gummies chocolate brownie topping jelly pudding chupa chups lemon drops. Ice cream jelly beans candy jelly beans. </p>
            </div>
          </div>
        </div>
      </div>
    
    <div class="section-4-instructions">
      <div class="row">
        <div class="large-12 columns">
        <h1>Instructions</h1>
        <p>Croissant lemon drops gingerbread. Biscuit gummies chocolate brownie topping jelly pudding chupa chups lemon drops. Ice cream jelly beans candy jelly beans. Macaroon apple pie gingerbread pudding wafer. Powder marzipan apple pie sesame snaps. Candy macaroon cake jujubes. Sweet chocolate marzipan fruitcake caramels. Cookie chocolate bar candy canes. Lemon drops soufflé toffee muffin cheesecake biscuit gingerbread jujubes macaroon. Marshmallow tiramisu tootsie roll pastry. Jujubes tiramisu cotton candy cake macaroon liquorice. Carrot cake tootsie roll pastry chocolate bar. Brownie cotton candy lollipop bonbon donut icing donut.</p>
        </div>
      </div>
    </div>
    
    <div class="section-5-send">
      <div class="row">
        <div class="large-12 columns">
        <h1>Send a (WORD)</h1>
          <div id="contant-form">
            <fieldset>
              <label for="email">Email: </label>
              <input type="text" id="email-field" name="email" placeholder="Put the offender's email here" size="80">
              <input type="submit" name="submit" class="button" id="email-submit-btn" value="Submit">
            </fieldset>
          </div>
        </div>
      </div>
    </div>
    
    <footer class="footer">
      <div class="row">
        <div class="large-12 columns text-center">
          Copyright 2015 © Think Twice for Change. All Rights Reserved. 
        </div>
      </div>
    </footer>
    
  </body>
</html>
