<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Think Twice for Change</title>
    <link rel="stylesheet" href="../static/css/foundation.css" />
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <script src="../static/js/foundation/foundation.tab.js"></script>
    <script src="../static/js/foundation.min.js"></script>
  </head>
  <body>
    <header class="fixed gray">
      <div class="content">
        <a href="#home">
          <img class="logo" src="../static/img/logo-1.png">
        </a> 

        <nav class="clearfix">
          <ul class="clearfix content">
            <li><a href="#howitworks">How It Works</a></li>
            <li><a href="#sendmessage">Send A Message</a></li> 
            <li><a href="#faq">FAQ</a></li>
            <li><a href="#about">About</a></li>
          </ul>
          <a href="#" id="pull">
            <div class="right menu-icon border-icon"></div> 
          </a>   
        </nav>
      </div>
    </header>

    <a name="home"></a>
    <div class="section-1-home">
      <div class="row">
        <div class="large-12 columns">
          <div class="large-4 medium-3 small-9 columns no-pad-left">
            <img src="../static/img/head.png">
          </div>
          <div class="large-8 medium-9 small-12 columns">
            <h1 class="yellow">Speak Up Without Risk</h1> 
            <h3 class="fff">Help your friends and make a safer world for women in your community by sending an anonymous pre-written message when you notice someone creating a hostile environment or threatening women.</h3>
          </div>
        </div>
      </div>
      <div class="buffer"></div>
    </div>

        <a name="howitworks"></a>
    <div class="section-3-how">
      <div class="row">
        <div class="large-12 columns">
          <h1 class="fff">How It Works</h1>
          <div class="buffer"></div>
          <div class="large-3 columns no-pad-left">
            <div class="text-center">
              <img src="../static/img/howitworks-0.png" class="howitworks-icon0">
            </div>
            <div class="buffer"></div>
            <p class="fff section-3-text">Acquire contact information. Biscuit gummies chocolate brownie topping jelly pudding chupa chups lemon drops. </p>
          </div>
          <div class="large-3 columns no-pad-left">
            <div class="text-center">
              <img src="../static/img/howitworks-1.png" class="howitworks-icon1">
            </div>
            <div class="buffer"></div>
            <p class="fff section-3-text">Acquire contact information. Biscuit gummies chocolate brownie topping jelly pudding chupa chups lemon drops. </p>
          </div>

          <div class="large-3 columns no-pad-left">
            <div class="text-center">
              <img src="../static/img/howitworks-2.png" class="howitworks-icon2">
            </div>
            <div class="buffer"></div>
            <p class="fff section-3-text">Go to thinkforchange.com and send a (word). Biscuit gummies chocolate brownie topping jelly pudding chupa chups lemon drops. </p>
          </div>

          <div class="large-3 columns no-pad-left">
            <div class="text-center">
              <img src="../static/img/howitworks-3.png" class="howitworks-icon3">
            </div>
            <div class="buffer"></div>
            <p class="fff section-3-text">Your message will be sent anonymously. Biscuit gummies chocolate brownie topping jelly pudding chupa chups lemon drops.</p>
          </div>
        </div>
      </div>
    </div>
    
            <a name="sendmessage"></a>
        <div class="section-5-send">
          <div class="row">
            <div class="large-12 columns">
              <h1>Send a Message</h1>
             <div class="row">
              <div class="large-6 columns">
                <div data-alert id="alert-box" style="display:none" class="alert-box success radius">
                  Your message was sent!
                  <a href="#" class="close">&times;</a>
                  </div>
                </div>
              </div>
              <ul class="tabs" data-tab>
                <li class="tab-title active"><a href="#panel1">Email</a></li>
                <li class="tab-title"><a href="#panel2">Text Message</a></li>
              </ul>
              <div class="tabs-content">
                <div class="content active" id="panel1">
                            <!--      EMAIL FORM    -->
              <div id='mail-form'>
<!--
                <div class="row">
                  <div class="large-12 columns">
                    <label for="email"><h5>Offender's Name</h5></label>
                    <input type="text" id="name" name="name" placeholder="">
                  </div>
                </div>
-->
                <div class="row">
                  <div class="large-6 columns">
                    <label for="email"><h5>Offender's Email</h5></label>
                    <input type="text" id="email-field" name="email" placeholder="">
                  </div>
                </div>
                <div class="buffer-sm"></div>
                <div class="row">
                  <div class="large-12 columns">
                    <label><h5>Category of Problem</h5></label>
                    <input type="radio" name="category" value="rape" id="mail-rapeJoke"><label for="pokemonRed">Rape Jokes</label>
                    <input type="radio" name="category" value="compromise" id="mail-compSituation"><label for="pokemonBlue">Planning to Target Women at a Party</label>
                    <input type="radio" name="category" value="ignore" id="mail-ignoreSign"><label for="pokemonBlue">Ignoring Signs of Discomfort</label>
                  </div>
                </div>
                <div class="buffer-sm"></div>
                <div class="row">
                  <div class="large-12 columns">
                    <label><h5>Oops or Ouch?</h5></label>
                    <input type="radio" name="oopsOuch" value="oops" id="mail-oops"><label for="pokemonRed">Oops</label>
                    <input type="radio" name="oopsOuch" value="ouch" id="mail-ouch"><label for="pokemonBlue">Ouch</label>
                  </div>
                </div>
<!--
                <div class="buffer-sm"></div>
                <div class="row">
                  <div class="large-12 columns">
                    <label><h5>Comments</h5>
                      <textarea placeholder="Insert comment here"></textarea>
                    </label>
                  </div>
                </div>
-->
                <div class="buffer-sm"></div>
                <div class="row">
                  <div class="large-12 columns">
                    <input type="submit" name="submit" class="button" id="email-submit-btn" value="Send Email">
                  </div>
                </div>
              </div>
                </div>
                
                <div class="content" id="panel2">
                            <!--      PHONE FORM    -->
          <div id="sms-form">
            <div class="row">
              <div class="large-12 columns">
<!--
                <div class="row">
                  <div class="large-12 columns">
                    <label for="email"><h5>Name</h5></label>
                    <input type="text" id="name" name="name" placeholder="Put the offender's name here">
                  </div>
                </div>
-->
                <div class="row">
                  <div class="large-12 columns">
                    <label for="email"><h5>Offender's Phone Number</h5></label>
                    <div class="large-1 columns no-pad-left">
                      <input type="text" id="sms-field-1" name="sms" maxlength="3">
                    </div>
                    <div class="large-1 columns no-pad-left">
                      <input type="text" id="sms-field-2" name="sms" maxlength="3">
                    </div>
                    <div class="large-1 columns no-pad-left">
                      <input type="text" id="sms-field-3" name="sms" maxlength="4">
                    </div>
                    <div class="large-9 columns"></div>
                  </div>
                </div>
                <div class="buffer-sm"></div>
                <div class="row">
                  <div class="large-12 columns">
                    <label><h5>Category of Problem</h5></label>
                    <input type="radio" name="category" value="rape" id="sms-rapeJoke"><label for="pokemonRed">Rape Jokes</label>
                    <input type="radio" name="category" value="compromise" id="sms-compSituation"><label for="pokemonBlue">Planning to Target Women at a Party</label>
                    <input type="radio" name="category" value="ignore" id="sms-ignoreSign"><label for="pokemonBlue">Ignoring Signs of Discomfort</label>
                  </div>
                </div>
                <div class="buffer-sm"></div>
                <div class="row">
                  <div class="large-12 columns">
                    <label><h5>Oops or Ouch?</h5></label>
                    <input type="radio" name="oopsOuch" value="oops" id="sms-oops"><label for="pokemonRed">Oops</label>
                    <input type="radio" name="oopsOuch" value="ouch" id="sms-ouch"><label for="pokemonBlue">Ouch</label>
                  </div>
                </div>
<!--
                <div class="buffer-sm"></div>
                <div class="row">
                  <div class="large-12 columns">
                    <label><h5>Comments</h5>
                      <textarea placeholder="Insert comment here"></textarea>
                    </label>
                  </div>
                </div>
-->
                <div class="buffer-sm"></div>
                <div class="row">
                  <div class="large-12 columns">
                    <input type="submit" name="submit" class="button" id="sms-submit-btn" value="Send Text Message">
                  </div>
                </div>
              </div>
            </div>
          </div>
                </div>
              </div>
            </div>
          </div>
    </div>

    <a name="faq"></a>
    <div class="section-4-instructions">
      <div class="row">
        <div class="large-12 columns">
          <h1>FAQ</h1>
          <div class="large-12 columns no-pad-left">
            <h4><i class="fa fa-envelope-o"></i> Email or SMS</h4>
            <p>Croissant lemon drops gingerbread. Biscuit gummies chocolate brownie topping jelly pudding chupa chups lemon drops. Ice cream jelly beans candy jelly beans. Macaroon apple pie gingerbread pudding wafer. Powder marzipan apple pie sesame snaps. Candy macaroon cake jujubes. Sweet chocolate marzipan fruitcake caramels.</p>
          </div>

        </div>  
      </div>

      <div class="buffer"></div>

      <div class="row">
        <div class="large-12 columns">
          <div class="large-6 columns no-pad-left">
            <h4><i class="fa fa-list-ul"></i> Category</h4>
            <h6>Rape Jokes</h6><p>You noticed somebody making jokes about rape, or making comments that make light of the topic of rape or sexual assault.</p> 

            <h6>Planning to Target Women at a Party</h6><p>You noticed someone planning to use alcohol or drugs to lower women’s inhibitions at a party, or planning to isolate or otherwise target women.</p>

            <h6>Ignoring Signs of Discomfort</h6><p>You noticed someone continuing to be physical with a woman despite her showing signs of discomfort.</p>
          </div>
          
          <div class="large-6 columns no-pad-left">
            <h4><i class="fa fa-exclamation-circle"></i> Oops or Ouch</h4>
            <h6>Oops!</h6> 
            <p>The person who noticed this behavior didn’t think you were aware of its significance, or they thought that your action was unintentional.</p> 
<h6>Ouch.</h6> <p>The person who notices this behavior felt that your action was intentionally hostile, and/or that you knew its significance but chose to do it anyways.</p>
            </div>

<!--
            <div class="large-6 columns no-pad-left">
              <h4><i class="fa fa-comment-o"></i> Comments (optional)</h4>
              <p>Croissant lemon drops gingerbread. Biscuit gummies chocolate brownie topping jelly pudding chupa chups lemon drops. Ice cream jelly beans candy jelly beans. Macaroon apple pie gingerbread pudding wafer. Powder marzipan apple pie sesame snaps. Candy macaroon cake jujubes. Sweet chocolate marzipan fruitcake caramels.
              </div>
-->
            </div>  
          </div>      
        </div>
    
        <a name="about"></a>
    <div class="section-2-about">
      <div class="row">
        <div class="large-8 columns">
          <h1>About</h1>
          <p>Think Twice For Change is a safe, anonymous, and non-confrontational way to let someone know that they are engaging in behaviors that are hostile towards women. Most men don’t set out to be threatening or reinforce rape culture, so a discrete heads up from someone they know has the power to make big difference. Unfortunately, both men and women routinely let these behaviors go, for fear of social or physical retaliation if they speak up. Pre-written messages sorted by behavior category empower observers to deploy information and raise awareness while placing the burden of change on the offender.</p>
        </div>
        <div class="large-3 columns">
          <div class="buffer"></div>
          <div class="buffer"></div>
          <div class="buffer"></div>
          <img src="../static/img/cloud-1.png">
        </div>
      </div>
      <div class="buffer"></div>
    </div>
    
            <footer class="footer">
              <div class="row">
                <div class="large-12 columns text-center">
                  Copyright 2015 © Think Twice for Change. All Rights Reserved. 
                </div>
              </div>
            </footer>
            <script>
              $(function() {
                  var pull 		= $('#pull');
                  menu 		= $('nav ul');
                  menuHeight	= menu.height();

                  $(pull).on('click', function(e) {
                    e.preventDefault();
                    menu.toggle();
                    });

                  $('nav li a').click(function(){
                    var w = $(window).width();
                    if(w < 750) {
                    menu.hide();
                    }
                    });


                  $(function() {
                    var scrollToAnchor = function( id ) {
                    var elem = $("a[name='"+ id +"']");
                    if ( typeof( elem.offset() ) === "undefined" ) {
                    elem = $("#"+id);
                    }

                    if ( typeof( elem.offset() ) !== "undefined" ) {
                    $('html, body').animate({
scrollTop: elem.offset().top
}, 1000 );

                    }
                    };

                    $("a").click(function( event ) {
                      if ( $(this).attr("href").match("#") ) {
                      event.preventDefault();
                      var href = $(this).attr('href').replace('#', '')
                      scrollToAnchor( href );
                      }
                      });
});

$(window).resize(function(){
    var w = $(window).width();
    if(w > 320 && menu.is(':hidden')) {
    menu.removeAttr('style');
    }
    });

$(document).foundation({
tab: {
callback : function (tab) {
console.log(tab);
}
}
});
}); 

            </script>
          </body>
        </html>
