<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Think Twice for Change</title>
    <link rel="stylesheet" href="../static/css/foundation.css" />
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <script src="../static/js/foundation/foundation.tab.js"></script>
    <script src="../static/js/foundation.min.js"></script>
  </head>
  <body>
    <header class="fixed gray">
      <div class="content">
        <a href="#home">
          <img class="logo" src="../static/img/logo-1.png">
        </a> 

        <nav class="clearfix">
          <ul class="clearfix content">
            <li><a href="#about">About</a></li> 
            <li><a href="#howitworks">How It Works</a></li>
            <li><a href="#faq">FAQ</a></li>
            <li><a href="#sendmessage">Send A Message</a></li>
          </ul>
          <a href="#" id="pull">
            <div class="right menu-icon border-icon"></div> 
          </a>   
        </nav>
      </div>
    </header>

    <a name="home"></a>
    <div class="section-1-home">
      <div class="row">
        <div class="large-12 columns">
          <div class="large-4 medium-3 small-9 columns no-pad-left">
            <img src="../static/img/head.png">
          </div>
          <div class="large-8 medium-9 small-12 columns">
            <h1 class="yellow">Croissant lemon drops gingerbread.</h1> 
            <h3 class="fff">Biscuit gummies chocolate brownie topping jelly pudding chupa chups lemon drops. Ice cream jelly beans candy jelly beans. </h3>
          </div>
        </div>
      </div>
      <div class="buffer"></div>
    </div>

    <a name="about"></a>
    <div class="section-2-about">
      <div class="row">
        <div class="large-12 columns">
          <h1>About</h1>
          <p>Croissant lemon drops gingerbread. Biscuit gummies chocolate brownie topping jelly pudding chupa chups lemon drops. Ice cream jelly beans candy jelly beans. Macaroon apple pie gingerbread pudding wafer. Powder marzipan apple pie sesame snaps. Candy macaroon cake jujubes. Sweet chocolate marzipan fruitcake caramels. Cookie chocolate bar candy canes. Lemon drops soufflé toffee muffin cheesecake biscuit gingerbread jujubes macaroon. Marshmallow tiramisu tootsie roll pastry. Jujubes tiramisu cotton candy cake macaroon liquorice. Carrot cake tootsie roll pastry chocolate bar. Brownie cotton candy lollipop bonbon donut icing donut.</p>
        </div>
      </div>
      <div class="buffer"></div>
    </div>

    <a name="howitworks"></a>
    <div class="section-3-how">
      <div class="row">
        <div class="large-12 columns">
          <h1 class="fff">How It Works</h1>
          <div class="buffer"></div>
          <div class="large-3 columns no-pad-left">
            <div class="text-center">
              <img src="../static/img/howitworks-0.png" class="howitworks-icon0">
            </div>
            <div class="buffer"></div>
            <p class="fff section-3-text">Acquire contact information. Biscuit gummies chocolate brownie topping jelly pudding chupa chups lemon drops. </p>
          </div>
          <div class="large-3 columns no-pad-left">
            <div class="text-center">
              <img src="../static/img/howitworks-1.png" class="howitworks-icon1">
            </div>
            <div class="buffer"></div>
            <p class="fff section-3-text">Acquire contact information. Biscuit gummies chocolate brownie topping jelly pudding chupa chups lemon drops. </p>
          </div>

          <div class="large-3 columns no-pad-left">
            <div class="text-center">
              <img src="../static/img/howitworks-2.png" class="howitworks-icon2">
            </div>
            <div class="buffer"></div>
            <p class="fff section-3-text">Go to thinkforchange.com and send a (word). Biscuit gummies chocolate brownie topping jelly pudding chupa chups lemon drops. </p>
          </div>

          <div class="large-3 columns no-pad-left">
            <div class="text-center">
              <img src="../static/img/howitworks-3.png" class="howitworks-icon3">
            </div>
            <div class="buffer"></div>
            <p class="fff section-3-text">Your message will be sent anonymously. Biscuit gummies chocolate brownie topping jelly pudding chupa chups lemon drops.</p>
          </div>
        </div>
      </div>
    </div>

    <a name="faq"></a>
    <div class="section-4-instructions">
      <div class="row">
        <div class="large-12 columns">
          <h1>FAQ</h1>
          <div class="large-6 columns no-pad-left">
            <h4><i class="fa fa-envelope-o"></i> Email or SMS</h4>
            <p>Croissant lemon drops gingerbread. Biscuit gummies chocolate brownie topping jelly pudding chupa chups lemon drops. Ice cream jelly beans candy jelly beans. Macaroon apple pie gingerbread pudding wafer. Powder marzipan apple pie sesame snaps. Candy macaroon cake jujubes. Sweet chocolate marzipan fruitcake caramels.</p>
          </div>

          <div class="large-6 columns">
            <h4><i class="fa fa-list-ul"></i> Category</h4>
            <h6>Category 1</h6><p>Croissant lemon drops gingerbread.</p> 

            <h6>Category 1</h6><p>Biscuit gummies chocolate brownie topping jelly pudding chupa chups lemon drops.</p>

            <h6>Category 1</h6><p>Ice cream jelly beans candy jelly beans.</p>
          </div>
        </div>  
      </div>

      <div class="buffer"></div>

      <div class="row">
        <div class="large-12 columns">
          <div class="large-6 columns no-pad-left">
            <h4><i class="fa fa-exclamation-circle"></i> Oops or Ouch</h4>
            <p>Croissant lemon drops gingerbread. Biscuit gummies chocolate brownie topping jelly pudding chupa chups lemon drops. Ice cream jelly beans candy jelly beans. Macaroon apple pie gingerbread pudding wafer. Powder marzipan apple pie sesame snaps. Candy macaroon cake jujubes. Sweet chocolate marzipan fruitcake caramels.
            </div>

            <div class="large-6 columns no-pad-left">
              <h4><i class="fa fa-comment-o"></i> Comments (optional)</h4>
              <p>Croissant lemon drops gingerbread. Biscuit gummies chocolate brownie topping jelly pudding chupa chups lemon drops. Ice cream jelly beans candy jelly beans. Macaroon apple pie gingerbread pudding wafer. Powder marzipan apple pie sesame snaps. Candy macaroon cake jujubes. Sweet chocolate marzipan fruitcake caramels.
              </div>
            </div>  
          </div>      
        </div>

        <a name="sendmessage"></a>
        <div class="section-5-send">
          <div class="row">
            <div class="large-12 columns">
              <h1>Send a Message</h1>
              <ul class="tabs" data-tab>
                <li class="tab-title active"><a href="#panel1">Email</a></li>
                <li class="tab-title"><a href="#panel2">Text Message</a></li>
              </ul>
              <div class="tabs-content">
                <div class="content active" id="panel1">
                  <p>This is the first panel of the basic tab example. You can place all sorts of content here including a grid.</p>
                </div>
                <div class="content" id="panel2">
                  <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
                </div>
              </div>
            </div>
          </div>

          <!--      EMAIL FORM    -->
          <div id='mail-form'>
            <div class="row">
              <div class="large-12 columns">
                <label for="email"><h5>Name</h5></label>
                <input type="text" id="name" name="name" placeholder="Put the offender's name here">
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label for="email"><h5>Email</h5></label>
                <input type="text" id="email-field" name="email" placeholder="Put the offender's email here">
              </div>
            </div>
            <div class="buffer-sm"></div>
            <div class="row">
              <div class="large-12 columns">
                <label><h5>What category of problem?</h5></label>
                <input type="radio" name="category" value="rape" id="mail-rapeJoke"><label for="pokemonRed">Rape Joke</label>
                <input type="radio" name="category" value="compromise" id="mail-compSituation"><label for="pokemonBlue">Compromising Situation</label>
                <input type="radio" name="category" value="ignore" id="mail-ignoreSign"><label for="pokemonBlue">Ignoring Signs of Discomfort</label>
              </div>
            </div>
            <div class="buffer-sm"></div>
            <div class="row">
              <div class="large-12 columns">
                <label><h5>Oops or Ouch?</h5></label>
                <input type="radio" name="oops" value="oops" id="mail-oops"><label for="pokemonRed">Oops</label>
                <input type="radio" name="ouch" value="ouch" id="mail-ouch"><label for="pokemonBlue">Ouch</label>
              </div>
            </div>
            <div class="buffer-sm"></div>
            <div class="row">
              <div class="large-12 columns">
                <label><h5>Comments</h5>
                  <textarea placeholder="Insert comment here"></textarea>
                </label>
              </div>
            </div>
            <div class="buffer-sm"></div>
            <div class="row">
              <div class="large-12 columns">
                <input type="submit" name="submit" class="button" id="email-submit-btn" value="Submit">
              </div>
            </div>
          </div>

          <!--      PHONE FORM    -->
          <div id="sms-form">
            <div class="row">
              <div class="large-12 columns">
                <h1>Send a Message</h1>
                <div class="row">
                  <div class="large-12 columns">
                    <label for="email"><h5>Name</h5></label>
                    <input type="text" id="name" name="name" placeholder="Put the offender's name here">
                  </div>
                </div>
                <div class="row">
                  <div class="large-12 columns">
                    <label for="email">Use Text: </label>
                    <input type="text" id="sms-field-1" name="sms" maxlength="3">
                    <input type="text" id="sms-field-2" name="sms" maxlength="3">
                    <input type="text" id="sms-field-3" name="sms" maxlength="4">
                  </div>
                </div>
                <div class="buffer-sm"></div>
                <div class="row">
                  <div class="large-12 columns">
                    <label><h5>What category of problem?</h5></label>
                    <input type="radio" name="category" value="rape" id="sms-rapeJoke"><label for="pokemonRed">Rape Joke</label>
                    <input type="radio" name="category" value="compromise" id="sms-compSituation"><label for="pokemonBlue">Compromising Situation</label>
                    <input type="radio" name="category" value="ignore" id="sms-ignoreSign"><label for="pokemonBlue">Ignoring Signs of Discomfort</label>
                  </div>
                </div>
                <div class="buffer-sm"></div>
                <div class="row">
                  <div class="large-12 columns">
                    <label><h5>Oops or Ouch?</h5></label>
                    <input type="radio" name="oops" value="sms-oops" id="oops"><label for="pokemonRed">Oops</label>
                    <input type="radio" name="ouch" value="sms-ouch" id="ouch"><label for="pokemonBlue">Ouch</label>
                  </div>
                </div>
                <div class="buffer-sm"></div>
                <div class="row">
                  <div class="large-12 columns">
                    <label><h5>Comments</h5>
                      <textarea placeholder="Insert comment here"></textarea>
                    </label>
                  </div>
                </div>
                <div class="buffer-sm"></div>
                <div class="row">
                  <div class="large-12 columns">
                    <input type="submit" name="submit" class="button" id="sms-submit-btn" value="Text Submit">
                  </div>
                </div>
              </div>
            </div>
            <footer class="footer">
              <div class="row">
                <div class="large-12 columns text-center">
                  Copyright 2015 © Think Twice for Change. All Rights Reserved. 
                </div>
              </div>
            </footer>
            <script>
              $(function() {
                  var pull 		= $('#pull');
                  menu 		= $('nav ul');
                  menuHeight	= menu.height();

                  $(pull).on('click', function(e) {
                    e.preventDefault();
                    menu.toggle();
                    });

                  $('nav li a').click(function(){
                    var w = $(window).width();
                    if(w < 750) {
                    menu.hide();
                    }
                    });


                  $(function() {
                    var scrollToAnchor = function( id ) {
                    var elem = $("a[name='"+ id +"']");
                    if ( typeof( elem.offset() ) === "undefined" ) {
                    elem = $("#"+id);
                    }

                    if ( typeof( elem.offset() ) !== "undefined" ) {
                    $('html, body').animate({
scrollTop: elem.offset().top
}, 1000 );

                    }
                    };

                    $("a").click(function( event ) {
                      if ( $(this).attr("href").match("#") ) {
                      event.preventDefault();
                      var href = $(this).attr('href').replace('#', '')
                      scrollToAnchor( href );
                      }
                      });
});

$(window).resize(function(){
    var w = $(window).width();
    if(w > 320 && menu.is(':hidden')) {
    menu.removeAttr('style');
    }
    });

$(document).foundation({
tab: {
callback : function (tab) {
console.log(tab);
}
}
});
}); 

            </script>
          </body>
        </html>
